/*! Roboto Fonts */

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("/fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  src: url("/fonts/Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src: url("/fonts/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/Roboto-LightItalic.ttf") format("truetype");
}

/*! Open-Sans Fonts */

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/OpenSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: italic;
  src: url("/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: url("/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: italic;
  src: url("/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

/*! Open Sans Condensed Fonts */

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  src: url("/fonts/OpenSans_Condensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/OpenSans_Condensed-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 400;
  src: url("/fonts/OpenSans_Condensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/OpenSans_Condensed-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 500;
  src: url("/fonts/OpenSans_Condensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/OpenSans_Condensed-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 600;
  src: url("/fonts/OpenSans_Condensed-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 600;
  font-style: italic;
  src: url("/fonts/OpenSans_Condensed-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  src: url("/fonts/OpenSans_Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/OpenSans_Condensed-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 800;
  src: url("/fonts/OpenSans_Condensed-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 800;
  font-style: italic;
  src: url("/fonts/OpenSans_Condensed-ExtraBoldItalic.ttf") format("truetype");
}

/*! Open Sans SemiCondensed */

@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 300;
  src: url("/fonts/OpenSans_SemiCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/OpenSans_SemiCondensed-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 400;
  src: url("/fonts/OpenSans_SemiCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/OpenSans_SemiCondensed-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 500;
  src: url("/fonts/OpenSans_SemiCondensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/OpenSans_SemiCondensed-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 600;
  src: url("/fonts/OpenSans_SemiCondensed-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 600;
  font-style: italic;
  src: url("/fonts/OpenSans_SemiCondensed-SemiBoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 700;
  src: url("/fonts/OpenSans_SemiCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/OpenSans_SemiCondensed-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 800;
  src: url("/fonts/OpenSans_SemiCondensed-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  font-weight: 800;
  font-style: italic;
  src: url("/fonts/OpenSans_SemiCondensed-ExtraBoldItalic.ttf")
    format("truetype");
}